h2 {
    color:darkslateblue;
}

#special-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 


h3 {
    color: darkslategrey;
    font-weight: bold;
    
}
button {
    font-size: inherit;
    width: 200px;
    border-radius: 0.5rem;
}

button:hover {
    color: slateblue;
    border-color: slateblue;
}

input {
    width: 200px;
    border-radius: 0.5rem;
    color: slateblue;
}

input:hover {
    border-color: slateblue;
} 

.wrapper {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: cadetblue;
}

.wrapper > h1 {
    font-size: 3rem;
}

#button-container > button {
    width: 30px;
    border: none;
    color: cadetblue;
    background-color: rgb(32, 31, 31);
    font-size: 1.5rem;
    cursor: pointer;
}
.positive {
    color: forestgreen;
}

.negative {
    color: firebrick;
}